body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.container-header {
  display: flex;
  justify-content: space-between;
}

.header .logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.header .logo-accent {
  color: #2e2f42;
}

.nav-header {
  display: flex;
  align-items: center;
}

.list-header {
  display: flex;
  gap: 40px;
  align-items: center;
}

.list-header .menu-header {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
}

.menu-header:hover,
.menu-header:focus,
.menu-header.menu-line {
  color: #404bbf;
}

.menu-header.menu-line {
  position: relative;
}

.menu-header.menu-line::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
}

.contact {
  font-style: normal;
}

.list-contact {
  display: flex;
  gap: 40px;
}

.list-contact .contact-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-contact {
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-main {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-fon.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: auto;
}

.title-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.section-main .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-main .button:hover,
.section-main .button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-theses {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-theses {
  width: calc((100% - 72px) / 4);
}

.item-theses .cont-icon-theses {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}

.item-theses .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.item-theses .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-team {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-team {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.container-team {
  padding: 32px 0;
}

.container-team .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.container-team .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.list-icon-team {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
  align-self: flex-end;
  margin-top: 8px;
}

.list-icon-team .item-icon-team {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-icon-team .link-icon-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon-team .icon {
  fill: #f4f4fd;
}

.list-icon-team .link-icon-team:hover,
.list-icon-team .link-icon-team:focus {
  background-color: #404bbf;
}

.section-team {
  background-color: #f4f4fd;
}

.title-portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.item-portfolio {
  width: calc((100% - 48px) / 3);

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.container-portfolio .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.container-portfolio .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overflow-portfolio {
  position: relative;
  overflow: hidden;
}

.overflow-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-portfolio:hover .overflow-text,
.item-portfolio:focus .overflow-text {
  transform: translateY(0);
}

.item-portfolio:hover,
.item-portfolio:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.cont-footer-logo {
  margin-right: 120px;
}

.footer .logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer .logo-accent {
  color: #f4f4fd;
}

.footer .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  width: 264px;
}

.text-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.list-icon-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-shrink: 0;
  align-self: flex-end;
}

.list-icon-footer .item-icon-footer {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.list-icon-footer .link-icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-icon-footer .icon {
  fill: #f4f4fd;
}

.list-icon-footer .link-icon-footer:hover,
.list-icon-footer .link-icon-footer:focus {
  background-color: #31d0aa;
}

.form-footer {
  display: flex;
  gap: 24px;
  margin-left: 80px;
}

.cont-form-footer .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-left: 80px;
}

.form-footer .input {
  background-color: inherit;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
}

.form-footer .input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.cont-form-footer .button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-self: flex-end;
  gap: 16px;

  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
}

.button-icon-footer {
  fill: #ffffff;
}

.cont-modal-close .button-modal-close {
  border-radius: 100%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
}

.cont-modal-close .button-icon-close {
  fill: #2e2f42;
}

.container-modal .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
